<!DOCTYPE html>
<html>
<head>
  <title>Image Gallery</title>
</head>
<body>
  <h1>Image Gallery</h1>
  
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*">
    <button type="submit">Upload</button>
  </form>
  
  <hr>
  
  <h2>Uploaded Images</h2>
    <div>
      <h3>ảnh</h3>
      <img src="\image\image_1691871080891.png" alt="">
    </div>
</body>
</html>
